<form #myForm="ngForm" (ngSubmit)="editRocket()">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input class="form-control" type="text" name="nom" [(ngModel)]="rocket.nom" required #nom="ngModel">
    </div>
    <div [hidden]="nom.valid || nom.pristine">
        le nom est obligatoire
    </div>
    <div class="form-group">
        <label for="annee">Année:</label>
        <input class="form-control" type="text" name="annee" [(ngModel)]="rocket.annee" required #annee="ngModel">
    </div>
    <div [hidden]="annee.valid || annee.pristine">
        l annee est obligatoire
    </div>
    <div class="form-group">
        <label for="organisation">Organisation:</label>
        <input class="form-control" type="text" name="organisation" [(ngModel)]="rocket.organisation" required #organisation="ngModel">
    </div>
    <div [hidden]="organisation.valid || organisation.pristine">
        l organisation est obligatoire
    </div>
    <div class="form-group">
        <label for="destination">Destination:</label>
        <input class="form-control" type="text" name="destination" [(ngModel)]="rocket.destination" required #destination="ngModel">
    </div>
    <div [hidden]="destination.valid || destination.pristine">
        le destination est obligatoire
    </div>
    <div>
        <button class="btn btn-outline-info" [disabled]="!myForm.valid">
            Modifier
        </button>
    </div>
</form>
